<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>InstaMeal</display-name>
  <welcome-file-list>
    <welcome-file>FindRecipes.jsp</welcome-file>
  </welcome-file-list>
  <!--
  <servlet>
        <servlet-name>FindRecipes</servlet-name>
        <servlet-class>instameal.servlet.FindRecipes</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>FindRecipes</servlet-name>
        <url-pattern>/findrecipes</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>RecipeIngredient</servlet-name>
        <servlet-class>instameal.servlet.RecipeIngredient</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>RecipeIngredient</servlet-name>
        <url-pattern>/recipeingredients</url-pattern>
  </servlet-mapping>
  -->
</web-app>